################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternExamples/AbstractFactoryDesignPatttern/bin/Debug/net6.0
/DesignPatternExamples/AbstractFactoryDesignPatttern/obj
